In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = pd.read_csv("Data-sets\covid_toy.csv")

In [3]:
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
df.describe()

              age       fever
count  100.000000   90.000000
mean    44.220000  100.844444
std     24.878931    2.054926
min      5.000000   98.000000
25%     20.000000   99.000000
50%     45.000000  101.000000
75%     66.500000  102.750000
max     84.000000  104.000000

In [5]:
# We will apply column transformer
# 1.Gender,city -> Nominal Encoder
# 2.Cough  -> Ordinal Encoder(OHE)
# 3.has_covid -> Label Encoder
# 4.age -> STANDRADIZATION

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x=df.iloc[:,0:5]
y=df.iloc[:,5:]

In [8]:
x

    age  gender  fever   cough       city
0    60    Male  103.0    Mild    Kolkata
1    27    Male  100.0    Mild      Delhi
2    42    Male  101.0    Mild      Delhi
3    31  Female   98.0    Mild    Kolkata
4    65  Female  101.0    Mild     Mumbai
..  ...     ...    ...     ...        ...
95   12  Female  104.0    Mild  Bangalore
96   51  Female  101.0  Strong    Kolkata
97   20  Female  101.0    Mild  Bangalore
98    5  Female   98.0  Strong     Mumbai
99   10  Female   98.0  Strong    Kolkata

[100 rows x 5 columns]

In [9]:
y

   has_covid
0         No
1        Yes
2         No
3         No
4         No
..       ...
95        No
96       Yes
97        No
98        No
99       Yes

[100 rows x 1 columns]

In [10]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2)

In [11]:
x_train

    age  gender  fever   cough       city
26   19  Female  100.0    Mild    Kolkata
21   73    Male   98.0    Mild  Bangalore
24   13  Female  100.0  Strong    Kolkata
37   55    Male  100.0    Mild    Kolkata
12   25  Female   99.0  Strong    Kolkata
..  ...     ...    ...     ...        ...
76   80    Male  100.0    Mild  Bangalore
87   47    Male  101.0  Strong  Bangalore
43   22  Female   99.0    Mild  Bangalore
29   34  Female    NaN  Strong     Mumbai
49   44    Male  104.0    Mild     Mumbai

[80 rows x 5 columns]

In [12]:
y_train

   has_covid
26       Yes
21       Yes
24        No
37        No
12        No
..       ...
76       Yes
87        No
43       Yes
29       Yes
49        No

[80 rows x 1 columns]

In [13]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler

In [14]:
df['cough'].unique()

array(['Mild', 'Strong'], dtype=object)

In [15]:
df['city'].unique()

array(['Kolkata', 'Delhi', 'Mumbai', 'Bangalore'], dtype=object)

In [16]:
# We will apply column transformer
# 1.Gender,city -> Nominal Encoder
# 2.Cough  -> Ordinal Encoder(OHE)
# 3.has_covid -> Label Encoder
# 4.age -> normalization

In [17]:
x_train

    age  gender  fever   cough       city
26   19  Female  100.0    Mild    Kolkata
21   73    Male   98.0    Mild  Bangalore
24   13  Female  100.0  Strong    Kolkata
37   55    Male  100.0    Mild    Kolkata
12   25  Female   99.0  Strong    Kolkata
..  ...     ...    ...     ...        ...
76   80    Male  100.0    Mild  Bangalore
87   47    Male  101.0  Strong  Bangalore
43   22  Female   99.0    Mild  Bangalore
29   34  Female    NaN  Strong     Mumbai
49   44    Male  104.0    Mild     Mumbai

[80 rows x 5 columns]

### Column transfor for X_train and X_test

In [18]:
# ct = ColumnTransformer(transformers=[
#     ('cough_ordinal_encoder',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
#     ('ohe',OneHotEncoder(sparse=False,drop='first'),['gender','city'])
    
#     ],remainder='passthrough'
# )

In [19]:
ct = ColumnTransformer(transformers=[
    ('ohe',OneHotEncoder(sparse=False,drop='first'),['gender','city']),
    # ('le',LabelEncoder(),['has_covid']),
    ('ne',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('scaler',StandardScaler(),['age'])
],remainder='passthrough')

In [20]:
ct.fit(x_train)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\preprocessing\_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

ColumnTransformer(remainder='passthrough',
                  transformers=[('ohe',
                                 OneHotEncoder(drop='first', sparse=False),
                                 ['gender', 'city']),
                                ('ne',
                                 OrdinalEncoder(categories=[['Mild',
                                                             'Strong']]),
                                 ['cough']),
                                ('scaler', StandardScaler(), ['age'])])

In [21]:
ct.transform(x_train).shape

(80, 7)

In [22]:
ans_xtrain=ct.transform(x_train)
ans_xtest=ct.transform(x_test)

In [23]:
ans_xtrain

array([[ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -1.01980335e+00,
         1.00000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.11673907e+00,
         9.80000000e+01],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  1.00000000e+00, -1.25719695e+00,
         1.00000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  4.04558262e-01,
         1.00000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  1.00000000e+00, -7.82409745e-01,
         9.90000000e+01],
       [ 1.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -1.09794541e-01,
         1.01000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.07717347e+00,
         9.90000000e+01],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00, -4.65884943e-01,
         1.02000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.51239507e+00,
         1.03000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  8.00214265e-01,
         9.90000000e+01],
       [ 1.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -1.01980335e+00,
         1.01000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.27599061e-01,
         1.03000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  6.02386264e-01,
         9.90000000e+01],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  2.06730261e-01,
         1.03000000e+02],
       [ 1.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00, -9.80237746e-01,
         1.02000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  1.35413267e+00,
                    nan],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.55196067e+00,
                    nan],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -1.45502495e+00,
         1.01000000e+02],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.19587027e+00,
                    nan],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  1.03760787e+00,
         9.80000000e+01],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  1.00000000e+00, -1.37589375e+00,
         9.80000000e+01],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  1.15630467e+00,
         1.02000000e+02],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.11673907e+00,
         1.03000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  9.58476666e-01,
         9.80000000e+01],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  2.46295862e-01,
         1.01000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  1.00000000e+00, -1.57372175e+00,
         9.80000000e+01],
       [ 1.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  6.02386264e-01,
         1.03000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  8.00214265e-01,
         1.01000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  4.84678603e-02,
         1.03000000e+02],
       [ 1.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.51239507e+00,
         9.80000000e+01],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  8.80334605e-02,
         1.00000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  3.64992662e-01,
         1.04000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  1.00000000e+00,  1.43326387e+00,
         9.80000000e+01],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00, -1.21763135e+00,
         1.01000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.51239507e+00,
         1.01000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00, -1.29676255e+00,
         9.80000000e+01],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -5.45016143e-01,
         9.80000000e+01],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  1.00000000e+00, -1.33632815e+00,
         1.00000000e+02],
       [ 1.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -7.03278544e-01,
         1.00000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -7.42844145e-01,
         9.80000000e+01],
       [ 1.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -7.03278544e-01,
         1.00000000e+02],
       [ 1.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  8.00214265e-01,
         9.90000000e+01],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.39369827e+00,
         9.80000000e+01],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  1.47282947e+00,
         1.02000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -1.05936895e+00,
         1.04000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  7.60648665e-01,
         1.02000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  1.00000000e+00, -9.80237746e-01,
                    nan],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -1.09893455e+00,
         1.04000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  9.58476666e-01,
         1.03000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -7.03278544e-01,
         1.00000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00,  1.43326387e+00,
         1.01000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -2.68056942e-01,
         1.01000000e+02],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00, -4.26319343e-01,
         1.01000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -1.33632815e+00,
         1.00000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.47282947e+00,
                    nan],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  9.18911066e-01,
         1.01000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00, -8.61540945e-01,
                    nan],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  8.39779865e-01,
         9.90000000e+01],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00, -1.09794541e-01,
                    nan],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -7.82409745e-01,
         1.04000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -1.13850015e+00,
         1.03000000e+02],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.67164661e-01,
         1.02000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -1.53415615e+00,
         1.04000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  2.46295862e-01,
         1.04000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  9.98042266e-01,
         1.03000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00, -1.21763135e+00,
         9.90000000e+01],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  1.00000000e+00, -8.61540945e-01,
         9.80000000e+01],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00, -1.01980335e+00,
         1.00000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -1.29676255e+00,
         1.04000000e+02],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  1.19587027e+00,
         1.04000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -8.21975345e-01,
         9.80000000e+01],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  7.60648665e-01,
         9.80000000e+01],
       [ 0.00000000e+00,  0.00000000e+00,  1.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -1.57372175e+00,
         1.00000000e+02],
       [ 0.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00, -4.26319343e-01,
         1.04000000e+02],
       [ 1.00000000e+00,  1.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -2.68056942e-01,
                    nan],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00,  1.39369827e+00,
         1.00000000e+02],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  1.00000000e+00,  8.80334605e-02,
         1.01000000e+02],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         0.00000000e+00,  0.00000000e+00, -9.01106546e-01,
         9.90000000e+01],
       [ 0.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  1.00000000e+00, -4.26319343e-01,
                    nan],
       [ 1.00000000e+00,  0.00000000e+00,  0.00000000e+00,
         1.00000000e+00,  0.00000000e+00, -3.06633402e-02,
         1.04000000e+02]])

In [24]:
ans_xtest

array([[  1.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  -0.10979454, 104.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.76064866, 101.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   1.47282947, 102.        ],
       [  1.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  -1.37589375, 100.        ],
       [  0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,   0.80021426,  98.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
          1.        ,  -0.18892574,  98.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,  -0.82197535, 102.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
          0.        ,   0.16716466, 101.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
          0.        ,  -1.57372175, 102.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,  -0.98023775, 101.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
          0.        ,   0.95847667, 102.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
          0.        ,   0.24629586, 104.        ],
       [  0.        ,   0.        ,   0.        ,   1.        ,
          0.        ,  -1.01980335, 101.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
          0.        ,  -1.13850015, 104.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.44412386, 104.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
          1.        ,  -0.42631934,  98.        ],
       [  0.        ,   0.        ,   0.        ,   0.        ,
          1.        ,   0.16716466,  99.        ],
       [  0.        ,   1.        ,   0.        ,   0.        ,
          1.        ,   0.56282066,  99.        ],
       [  1.        ,   0.        ,   1.        ,   0.        ,
          1.        ,   1.03760787,          nan],
       [  1.        ,   1.        ,   0.        ,   0.        ,
          0.        ,  -1.17806575, 101.        ]])

In [25]:
x_train_df=pd.DataFrame(ans_xtrain,columns=[['gender_m','city_delhi',"city_kolkata",'city_mumbai','cough','age','fever']])
x_test_df=pd.DataFrame(ans_xtest,columns=[['gender_m','city_delhi',"city_kolkata",'city_mumbai','cough','age','fever']])

In [26]:
x_train

    age  gender  fever   cough       city
26   19  Female  100.0    Mild    Kolkata
21   73    Male   98.0    Mild  Bangalore
24   13  Female  100.0  Strong    Kolkata
37   55    Male  100.0    Mild    Kolkata
12   25  Female   99.0  Strong    Kolkata
..  ...     ...    ...     ...        ...
76   80    Male  100.0    Mild  Bangalore
87   47    Male  101.0  Strong  Bangalore
43   22  Female   99.0    Mild  Bangalore
29   34  Female    NaN  Strong     Mumbai
49   44    Male  104.0    Mild     Mumbai

[80 rows x 5 columns]

In [27]:
x_train_df

   gender_m city_delhi city_kolkata city_mumbai cough       age  fever
0       0.0        0.0          1.0         0.0   0.0 -1.019803  100.0
1       1.0        0.0          0.0         0.0   0.0  1.116739   98.0
2       0.0        0.0          1.0         0.0   1.0 -1.257197  100.0
3       1.0        0.0          1.0         0.0   0.0  0.404558  100.0
4       0.0        0.0          1.0         0.0   1.0 -0.782410   99.0
..      ...        ...          ...         ...   ...       ...    ...
75      1.0        0.0          0.0         0.0   0.0  1.393698  100.0
76      1.0        0.0          0.0         0.0   1.0  0.088033  101.0
77      0.0        0.0          0.0         0.0   0.0 -0.901107   99.0
78      0.0        0.0          0.0         1.0   1.0 -0.426319    NaN
79      1.0        0.0          0.0         1.0   0.0 -0.030663  104.0

[80 rows x 7 columns]

In [28]:
x_train_df.describe()

,gender_m,city_delhi,city_kolkata,city_mumbai,cough,age,fever
count,80.00000,80.000000,80.00000,80.000000,80.000000,8.000000e+01,71.000000
mean,0.41250,0.212500,0.33750,0.162500,0.375000,4.440892e-17,100.774648
std,0.49539,0.411658,0.47584,0.371236,0.487177,1.006309e+00,2.064649
min,0.00000,0.000000,0.00000,0.000000,0.000000,-1.573722e+00,98.000000
25%,0.00000,0.000000,0.00000,0.000000,0.000000,-9.208893e-01,99.000000
50%,0.00000,0.000000,0.00000,0.000000,0.000000,8.902260e-03,101.000000
75%,1.00000,0.000000,1.00000,0.000000,1.000000,9.584767e-01,103.000000
max,1.00000,1.000000,1.00000,1.000000,1.000000,1.551961e+00,104.000000

In [29]:
x_test

    age  gender  fever   cough       city
64   42    Male  104.0    Mild     Mumbai
9    64  Female  101.0    Mild      Delhi
35   82  Female  102.0  Strong  Bangalore
63   10    Male  100.0    Mild  Bangalore
11   65  Female   98.0    Mild     Mumbai
17   40  Female   98.0  Strong      Delhi
60   24  Female  102.0  Strong  Bangalore
38   49  Female  101.0    Mild      Delhi
75    5    Male  102.0    Mild    Kolkata
97   20  Female  101.0    Mild  Bangalore
65   69  Female  102.0    Mild  Bangalore
66   51    Male  104.0    Mild    Kolkata
46   19  Female  101.0    Mild     Mumbai
28   16    Male  104.0    Mild    Kolkata
62   56  Female  104.0  Strong  Bangalore
73   34    Male   98.0  Strong    Kolkata
57   49  Female   99.0  Strong  Bangalore
90   59  Female   99.0  Strong      Delhi
56   71    Male    NaN  Strong    Kolkata
30   15    Male  101.0    Mild      Delhi

In [30]:
x_test_df

   gender_m city_delhi city_kolkata city_mumbai cough       age  fever
0       1.0        0.0          0.0         1.0   0.0 -0.109795  104.0
1       0.0        1.0          0.0         0.0   0.0  0.760649  101.0
2       0.0        0.0          0.0         0.0   1.0  1.472829  102.0
3       1.0        0.0          0.0         0.0   0.0 -1.375894  100.0
4       0.0        0.0          0.0         1.0   0.0  0.800214   98.0
5       0.0        1.0          0.0         0.0   1.0 -0.188926   98.0
6       0.0        0.0          0.0         0.0   1.0 -0.821975  102.0
7       0.0        1.0          0.0         0.0   0.0  0.167165  101.0
8       1.0        0.0          1.0         0.0   0.0 -1.573722  102.0
9       0.0        0.0          0.0         0.0   0.0 -0.980238  101.0
10      0.0        0.0          0.0         0.0   0.0  0.958477  102.0
11      1.0        0.0          1.0         0.0   0.0  0.246296  104.0
12      0.0        0.0          0.0         1.0   0.0 -1.019803  101.0
13      1.0        0.0          1.0         0.0   0.0 -1.138500  104.0
14      0.0        0.0          0.0         0.0   1.0  0.444124  104.0
15      1.0        0.0          1.0         0.0   1.0 -0.426319   98.0
16      0.0        0.0          0.0         0.0   1.0  0.167165   99.0
17      0.0        1.0          0.0         0.0   1.0  0.562821   99.0
18      1.0        0.0          1.0         0.0   1.0  1.037608    NaN
19      1.0        1.0          0.0         0.0   0.0 -1.178066  101.0